client/.DS_Store
client/node_modules/
client/dist/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.vscode

server/.DS_Store
server/node_modules/
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*
server/.vscode

.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
